<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tent-css/1.4.3/tent.min.css"/>
    <title>Secret</title>
</head>
<body>

    <h1>A sua chave secreta</h1>
    <h4>Não partilhe esta chave com ninguém!</h4>
  
    <ul>
        <% if(messages.secret) { %>
        <li><%= messages.secret %></li>
        <% } %>
    </ul>
  
    <a href="/users/login">Já registou a sua chave na aplicação? Faça o login aqui</a>
   
</body>
</html>