<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css"/>
    <title>Login</title>
</head>
<body>

    <h1>Login</h1>
    
    <ul>
    <% if(messages.error) { %>
        <li><%= messages.error %></li>
        <% } %>
    </ul>

    <form action="/users/login" method="POST">
        <div>
            <input type="email" id="email" name="email" placeholder="E-mail" required>
        </div>
        <div>
            <input type="password" id="password" name="password" placeholder="Senha" required>
        </div>
        <div>
            <input type="text" id="token" name="token" placeholder="Token" required>
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
        <a href="/users/register">Não possui conta? Registe-se aqui</a>
    </form>


    
</body>
</html>